@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: rgb(14, 14, 14);

}

* {
    margin: 0;
    padding: 0;

}

nav {
    font-family: "Ubuntu", sans-serif;

}

nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    align-items: center;
    color: white;


}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.brand img {

    width: 58px;
    padding: 0 8px
}

nav ul li {
    padding: 0 12px;

}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "Varela Round",sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image:url('bg.jpg') ;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 24px;
    border-top-right-radius:24px ;
    border: 2px solid rgb(216, 204, 182);
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    accent-color: rgb(38, 232, 38);
    margin-right: 15px;
    width: 500px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
.icons{
    margin-top:18px ;
}
.icons i{
    cursor: pointer;
}
.songItem {
    height: 50px;
    display: flex;
    background-color:rgb(119, 210, 77);
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    width: 100%;



}
.songItem img{

    width:43px;
    margin: 0px 23px;
    border-radius: 34px;



}
.timestamp{
    margin: 0px 23px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconp{
    margin-left: 12px;
    cursor: pointer;
}
.songitemcontainer{
    margin-top:34px ;
    width: 800px;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: "Varella",sans-serif;

}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.bottom input[type="range"]::-webkit-slider-thumb {
    /* For Chrome, Safari, and Opera */
    background-color: #333; /* Default thumb color */
}

.bottom input[type="range"]::-moz-range-thumb {
    /* For Firefox */
    background-color: #333; /* Default thumb color */
}

.bottom input[type="range"]::-ms-thumb {
    /* For IE */
    background-color: #333; /* Default thumb color */
}

.songlist{
    padding-left: 230px;
}
.songlist h1{
    padding-left: 250px;
}
.miniplay:hover{
    border: green;
}
.songItem:hover{
    background-color: rgb(143, 209, 138);
}

